{% extends 'main.html' %}

{% block title %}
    <title>Introduce</title>
{% endblock %}

{% block content %}
    <h1>Introduce Page</h1>
    <hr>
    <h3>나의 소개</h3>
    <p>이름 : 정다운</p>
    <p>나이 : 만 19세</p>
    <p>학번 : 202212061</p>
    <p>아이디어톤 팀명 : 3팀/Eco-Zone&#40;EZ&#41;</p>
    <hr>
    <h3>아이디어톤 서비스 소개</h3>
    <p>재활용과 재사용이 가능한 장소&#40;플라스틱 방앗간, 리필 스테이션&#41;길찾기 서비스</p>
    <p>환경 친화적 제품 판매 정보 제공 서비스</p>

    <style>
        *{
            background-color : #8f784b;
        }
        h1{
            color : blue;
        }
        h3{
            color : violet;
        }
        p{
            color : yellow;
        }
    </style>
{% endblock %}