<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Main</title>
    {% endblock %}
</head>
<body>
    <nav>
        <a href="{% url 'main' %}">Main</a>
        <a href="{% url 'introduce' %}">Introduce</a>
        <a href="{% url 'study' %}">Study</a>
    </nav>
    {% block content %}
        <h1>Main Page</h1>
        <hr>

        <style>
            *{
                background-color : orange;
            }
            h1{
                color : green;
            }
        </style>
    {% endblock %}
</body>
</html>