{% extends 'main.html' %}

{% block title %}
    <title>Study</title>
{% endblock %}

{% load static %}

{% block content %}
    <h1>Study Page</h1>
    <hr>
    <h3>1학기 멋사 활동</h3>
    <ol>
        <li>과제 제출 방법을 배우며 git의 활용법을 배웠다.</li>
        <li>html, css에 대한 기초적인 부분을 배웠다.</li>
        <li>html와 css에서 layout에 대한 부분을 배웠다.</li>
        <li>figma와 diagram을 통해 ui/ux에 대해 배웠다. </li>
        <li>javascript를 배웠다.</li>
        <li>유튜브를 이용한 클론코딩을 했다.</li>
        <li>기획하는 방법에 대해 배웠다.</li>
        <li>파이썬에서 리스트, 딕셔너리, 튜플에 대해 배웠다.</li>
        <li>django의 기초에 대해 배웠다.</li>
        <li>django에서 model과 admin에 대해 배웠다.</li>
        <li>django로 crud에 대해 배웠다.</li>
        <li>django로 media에 대해 배웠다.</li>
        <li>django로 customuser에 대해 배웠다.</li>
        <li>django로 댓글과 해시태그에 대해 배웠다.</li>
        <li>aws배포에 대해 배웠다.</li>
    </ol>
    <p>총 11주에 거쳐 11번의 과제를 통해 많은 것을 배웠다.</p>
    <p>아이디어톤을 통해 실제로 아이디어를 내보는 기회를 가졌다.</p>

    <style>
        *{
            background-color : pink;
        }
        h1{
            color : red;
        }
        h3{
            color : yellow;
        }
        li{
            color : green;
        }
        p{
            color : blue;
        }
    </style>
{% endblock %}